*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* A propriedade CSS nos permite incluir o padding e o 
					border na largura e altura total de um elemento */
}

.menudiv{
    background-color: #61532f;
    text-align: center; 
    padding: 12px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.6);
    
}

#menu li{
  display: inline;
  
}

#menu li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 3rem;
    padding: 50px;
    font-size: 30px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

#menu li a:hover{
    color:rgb(221, 221, 221)
}

.corkibackground{
    width: 100vw;   /* Define que essa classe ocupa toda a largura da tela do navegado */
    height: 100vh;  /* Define que essa classe ocupa toda a altura da tela do navegado */

    display: flex;  /* Define a visualização da classe para Flex*/
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */


    background-image: url(../assets/corki2.jpg); /* Define o plano de fundo da classe com uma imagem*/
    background-size: cover;     /* Define o tamanho do plano de fundo, no caso a imagem será mostrada de forma inteira na classe */
}

.corki{
    width: 75vw;   /* Define que essa classe ocupa toda a largura da tela do navegado */
    height: 100vh;  /* Define que essa classe ocupa toda a altura da tela do navegado */

    display: flex;  /* Define a visualização da classe para Flex*/
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */

    background-image: url(../assets/corki.jpg); /* Define o plano de fundo da classe com uma imagem*/
    background-size: cover;     /* Define o tamanho do plano de fundo, no caso a imagem será mostrada de forma inteira na classe */
}


.glass{
    /* Define que a Borda da DIV tenha 10px */
    border: 0px solid #ffffff50;

    /* Prop. que define um filtro que colocará um blur no fundo da classe */     
    backdrop-filter: blur(16px);
}


.card{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;  /* Eixo horizontal */
    align-items: center;    /* Eixo Vertical */
}

.fonte{
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.493);


    width: 20vw;   /* Define que essa classe ocupa toda a largura da tela do navegado */
    padding: 2rem;
    font-weight: bold;
    color: rgb(247, 247, 247);

    justify-content: center; /* horizontal */
    align-items: center;    /* Eixo Vertical */

    font-family: Helvetica;

    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;

    display: flex;

}



.container{
        display: inline;
        

    }

    .titulolore{
        font-size: 1.6rem;
        background-color: rgb(107, 66, 5);
    
        width: 100vw;   /* Define que essa classe ocupa toda a largura da tela do navegado */
    
        font-weight: bold;
        color: rgb(247, 247, 247);
    
        justify-content: center; /* horizontal */
        align-items: center; /* vertical */
    
        font-family: Helvetica;
    
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000;
    
        display: flex;
    
    }

    .button {
        background-color: #8b5b00; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;

        font-weight: bold;

        justify-content: center; /* horizontal */
        align-items: center; /* vertical */

        text-decoration: none;
        display: flex;
        font-size: 2rem;
    }

    .box{
        background-color: #8b5b00;
        width: 31rem;
        border: 1rem solid rgb(0, 0, 0);
        padding: 2.9rem;
        margin: 2rem;
    }

    input[type=submit] {
        width: 100%;
        font-size: 1.4rem;
        background-color: #cf6400;
        color: rgb(255, 255, 255);
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;

      }

      input[type=submit]:hover {
        background-color: #974900;
      }

      input[type=text], select {
        width: 100%;
        padding: 7px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }      

      input[type=email], select {
        width: 100%;
        padding: 7px 120px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

    #message{
        width: 100%;
        padding: 7px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }  

    .mapa{
        width: 300px;
        height: 300px;
        background-color: green;
        position: relative;
        top: 11rem;
        left:8rem;

    }

    .boxmap{
        background-image: url(../assets/mapa.jpg); /* Define o plano de fundo da classe com uma imagem*/
        width: 88rem;
        height: 60.7rem;
        border: 1rem solid rgb(0, 0, 0);
        padding: 2.9rem;
        margin: 2rem;
    }

    .titulomapa{
        position: absolute;
        top:6rem;
        left:15rem;
        font-size: 3rem;
        background-color: rgba(0, 0, 0, 0.527);
        
        width: 74vw;   /* Define que essa classe ocupa toda a largura da tela do navegado */
    
        font-weight: bold;
        color: rgb(247, 247, 247);
    
        justify-content: center; /* horizontal */
        align-items: center; /* vertical */
    
        font-family: Helvetica;
    
        -webkit-text-stroke-width: 1.2px;
        -webkit-text-stroke-color: rgb(0, 0, 0);
    
        display: flex;
    
    }